<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Database Connection String -->
		<add key="DbConnectString" value="dqpHuqYjqarmg924BbdfpFC4MbHqrrr4zv8dOTKCLWs1L3GnvDu5C1J%FqZF06aXFoAb3IsL/AixOIkiRQk25dk7Kda%G3XvpwCcbzsWVl/G86auenca0A=="/>
		<!-- Kafka's BootstrapServers -->
		<add key="BootstrapServers" value="dqpHuqYjqarmg924BbdfpFC4MbHqrrr4zv8dOTKCLWs1L3GnvDu5C1J%FqZF06aXFoAb3IsL/AixOIkiRQk25dk7Kda%G3XvpwCcbzsWVl/G86auenca0A=="/>
		<!-- Kafka's Topic -->
		<add key="Topic" value="dqpHuqYjqarmg924BbdfpFC4MbHqrrr4zv8dOTKCLWs1L3GnvDu5C1J%FqZF06aXFoAb3IsL/AixOIkiRQk25dk7Kda%G3XvpwCcbzsWVl/G86auenca0A=="/>
		<!-- MinIO's EndPoint -->
		<add key="EndPoint" value="dqpHuqYjqarmg924BbdfpFC4MbHqrrr4zv8dOTKCLWs1L3GnvDu5C1J%FqZF06aXFoAb3IsL/AixOIkiRQk25dk7Kda%G3XvpwCcbzsWVl/G86auenca0A=="/>
		<!-- MinIO's AccessKey -->
		<add key="AccessKey" value="dqpHuqYjqarmg924BbdfpFC4MbHqrrr4zv8dOTKCLWs1L3GnvDu5C1J%FqZF06aXFoAb3IsL/AixOIkiRQk25dk7Kda%G3XvpwCcbzsWVl/G86auenca0A=="/>
		<!-- MinIO's SecretKey -->
		<add key="SecretKey" value="dqpHuqYjqarmg924BbdfpFC4MbHqrrr4zv8dOTKCLWs1L3GnvDu5C1J%FqZF06aXFoAb3IsL/AixOIkiRQk25dk7Kda%G3XvpwCcbzsWVl/G86auenca0A=="/>
		<!-- MinIO's BucketName -->
		<add key="BucketName" value="dqpHuqYjqarmg924BbdfpFC4MbHqrrr4zv8dOTKCLWs1L3GnvDu5C1J%FqZF06aXFoAb3IsL/AixOIkiRQk25dk7Kda%G3XvpwCcbzsWVl/G86auenca0A=="/>
		<!-- Incremental Collection -->
		<add key="IsIncrementalCollection" value="Y"/>
	</appSettings>
</configuration>
